::root{
    --title-color: rgb(0, 0, 0);
    --icon-color: rgb(60, 182, 232);
    --text-color: rgb(142, 142, 142);

}

body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(182, 182, 182);    /* color of the scroll thumb */
    border: 2px solid #e1e1e1;  /* creates padding around scroll thumb */
}

.text-color{
    color: rgb(142, 142, 142) !important;
}

body{
    background-color: #fff;
    background-image: url('../img/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-size: 20px;
    max-width: 840px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.main-title{
    font-size: 1em;
    color: var(--title-color);
}

.justify-evenly{
    justify-content: space-evenly;
}

.p-1{
    padding: 0.25em;
}

.pt-1{
    padding-top: 0.25em;
}

.flex-grow{
    flex-grow: 1;
}

.pt-2{
    padding-top: 0.75em;
}

.pt-3{
    padding-top: 1.25em;
}

.pt-4{
    padding-top: 1.75em;
}

.mt-1{
    margin-top: 0.25em;
}
.mt-2{
    margin-top: 0.75em;
}
.mt-3{
    margin-top: 1.25em;
}
.mt-4{
    margin-top: 1.75em;
}

.p-2{
    padding: 0.75em;
}

.p-3{
    padding: 1.25em;
}

.gap-1{
    gap: 0.5em;
}

.gap-2{
    gap: 1em;
}

.gap-3{
    gap: 1.5em;
}

.title{
    color: #3a3a3a; 
    font-size: 0.7em;
    font-weight: bold;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: 700;
}

.w-full{
    width: 100%;
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.items-end{
    align-items: end;
}

.justify-center{
    justify-content: center;
}

